html{
    scroll-behavior: smooth;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    background-color: var(--firstColor-active);
    border: var(--thirdColor) 4px solid;
}